<aside>
    <section class="filters-wrapper">
        <div class="filter search-section">
            <label class="filter-title" for="search">BUSCAR</label>
            <!-- Agrega el evento onkeypress para detectar la tecla Enter -->
            <input class="filter-input-primary" type="text" name="buscar" id="buscar" placeholder="item o categoria" onkeypress="handleSearch(event)">
        </div>
        <div class="filter order-section">
            <div class="filters-responsive">
                <button class="filter-button">Filtrar <i class="fa-solid fa-sliders fa-sm"></i></button>
            </div>
            <div class="filter filter-order-responsive">
                <form id="orderForm" method="get"> <!-- Agrega un formulario con un id para identificarlo -->
                    <label class="filter-title" for="ordenar-por">ORDENAR POR</label>
                    <select class="filter-input-primary filter-select-primary" name="orderBy" onchange="submitOrderForm()"> <!-- Asegúrate de que el nombre del select coincida con el parámetro esperado en el controlador -->
                        <option value="" disabled selected hidden>Seleccione:</option>
                        <option value="price-ascending">Precio Ascendente</option>
                        <option value="price-descending">Precio Descendiente</option>
                        <option value="alpha-ascending">Nombre Ascendente</option>
                        <option value="alpha-descending">Nombre Descendiente</option>
                    </select>
                </form>
            </div>
            <div class="filter category-section"> <!-- Aquí agregamos la sección para filtrar por categoría -->
                <label class="filter-title" for="category">CATEGORÍA</label>
                <form method="get" action="/shop">
                <!-- Agrega el selector de categoría dentro del formulario -->
                    <select id="categoryId" class="filter-input-primary filter-select-primary" name="categoryId">
                    <option value="" disabled selected hidden>Selecciona una categoría</option>
                    <% categories.forEach(category => {  %>
                        <option value="<%= category.id %>"><%= category.nombre %></option>
                    <% }) %>
                    </select>
                    <br><br>
                    <!-- Agrega el botón dentro del formulario para enviar el filtro -->
                    <div class="filter-buttons">
                    <button class="filter-input-primary-button filter-select-primary" type="submit">Filtrar</button>  
                    <button class="filter-input-primary-button filter-select-primary" onclick="resetFiltro()">Resetear Filtro</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="filter price-section">
            <label class="filter-title" for="price">PRECIO</label>
            <form method="post">
                <span class="filter-option-title">MIN</span>
                <input class="filter-input-secondary" type="number" placeholder="0" min="0">
                <span class="filter-option-title">- MAX</span>
                <input class="filter-input-secondary" type="number" placeholder="0" min="100">
            </form>
        </div>
        <div class="filter checkbox-section">
            <label class="filter-title" for="filter">FILTRAR</label>
            <form class="filter-toggle-container" method="post">
                <div class="filter-toggle">
                    <input class="filter-checkbox" type="checkbox">
                    <label class="filter-option-title" for="new">NUEVOS</label>
                </div>
                <div class="filter-toggle">
                    <input class="filter-checkbox" type="checkbox">
                    <label class="filter-option-title" for="offers">OFERTAS</label>
                </div>
                <div class="filter-toggle">
                    <input class="filter-checkbox" type="checkbox">
                    <label class="filter-option-title" for="special-edition">EDICIÓN ESPECIAL</label>
                </div>
                <div class="filter-toggle">
                    <input class="filter-checkbox" type="checkbox">
                    <label class="filter-option-title" for="favorites">FAVORITOS</label>
                </div>
            </form>
        </div>
    </section>
</aside>
